<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Travel Planner</title>
<link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
</head>
  <body>
    <div id="app">
      <header id="header">
        <div id="app-title">
          Your Travel Planner
        </div>
      </header>
      <div id="user-input">
        <h1 id="destination-city">
          <label for="city">Where do you want to go?</label>
          <input type="text" id="city" placeholder="enter city here">
        </h1>
        <h1 id="departure-date">
          <label for="date">When is your trip?</label>
          <input type="date" id="start" name="trip-start">
        </h1>
        <h1 id="return-date">
          <label for="date">When are you returning?</label>
          <input type="date" id="end" name="trip-end">
          <button id="generate" type="submit">Enter</button>
        </h1>
      </div>
      <div id="trip-details">
        <div id="trip-details-title">About Your Trip:</div>
        <div id="trip-details-box"></div>
        <div id="destination"></div>
        <div id="start-date"></div> 
        <div id="end-date"></div>
        <div id="length-of-trip"></div>
        <div id="temp"></div>
        <div id="low-temp"></div>
        <div id="high-temp"></div>
        <div id="description"></div>
        <div id="image"></div>
      </div>
    </div>
    <script>
      // Check that service workers are supported
      if ('serviceWorker' in navigator) {
          // Use the window load event to keep the page load performant
          window.addEventListener('load', () => {
              navigator.serviceWorker.register('/service-worker.js');
          });
      }
     </script>
  </body>
</html>