body{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background-image: url(https://images.unsplash.com/photo-1567010375323-647e954af519?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=3305&q=80);
    background-size: cover;
}

button{
    width: 200px;
    height: 50px;
    background: black;
    color: white;
    font-size: 26px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
}

input{
    display: block;
    height: 60px;
    width: 320px;
    background: rgb(131, 161, 131);
    color: white;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: none;
}

label{
    display:block;
    font-size: 35px;
}

textarea{
    background: rgb(131, 161, 131);
    color: white;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#app{
    color: black;
    font-size: 55px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto)
}

#app-title{

}

#destination-city{

}

#departure-date{

}

#header{
    grid-column: 1/4;
    grid-row: 1;
    background-image: url(https://cdn.pixabay.com/photo/2019/10/05/11/52/nature-4527797_1280.jpg);
    background-size: cover;
    height: 300px;
}

#travel-app-image-1 img{
    float: left;
    margin-left: 0px 0px 0px 30px;
    width: 500px;
    height: 350px;
    position: relative;
 }

 #trip-details{
    grid-column: 2/4;
    grid-row: 2/5;
    background: rgb(153, 189, 153);
}

#trip-details-box{
    color: white;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#trip-details-title{
    color: black;
    font-size: 35px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#user-input{
    grid-column: 1/2;
    grid-row: 2/5;
}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: white; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 26px;
} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 26px;
} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: white; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 26px;
} 
